package {{ package }};

import lombok.Data;

{% if 'LocalDateTime' in fields|map(attribute='java_type') %}
import java.time.LocalDateTime;
{% endif %}
{% if 'LocalDate' in fields|map(attribute='java_type') %}
import java.time.LocalDate;
{% endif %}
{% if 'BigDecimal' in fields|map(attribute='java_type') %}
import java.math.BigDecimal;
{% endif %}

/**
 * {{ dto_name|replace('DTO', '') }}DTO
 */
@Data
public class {{ dto_name }} {

{% for field in fields %}
    /**
     * {{ field.comment }}
     */
    private {{ field.java_type }} {{ field.field_name }};

{% endfor %}
}
