package {{ package }};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import {{ entity_package }}.{{ entity_name }};

/**
 * {{ entity_name }} Mapper接口
 */
public interface {{ mapper_name }} extends BaseMapper<{{ entity_name }}> {
}
